extends ../../layouts/main.pug

block content
  h2.text-center Add a Product
  form(action='/admin/add-product', method='POST')
    .grid-x
      .cell.medium-10
        input(type='text', name='title')
      .cell.medium-2
        button.button.expanded(type='submit') Add Product