doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-prototype.min.css')
    link(rel="stylesheet", href="/assets/css/styles.css")
    title #{ documentTitle }
  body
    header
      .top-bar
        .top-bar-left
          ul.dropdown.menu
            li.menu-text Harry's Shop
        .top-bar-right
          ul.menu
            li(class=(path === '/' ? 'is-active shadow' : ''))
              a(href='/' class=(path === '/' ? 'radius' : '')) Home
            li(class=(path === '/admin/add-product' ? 'is-active shadow' : ''))
              a(href='/admin/add-product' class=(path === '/admin/add-product' ? 'radius' : '')) Add Product
    .grid-container.fluid
      .grid-x.grid-padding-x.grid-padding-y
        .cell
          main
            block content
